{
	box-sizing: border-box;
}

body {

}

/* Style the header */
header {
	padding: 30px;
	text-align: center;
	font-size: 35px;
	color: white;
}

/* Container for flexboxes */
section {
	display: -webkit-flex;
	display: flex;
	font-family:Arial;
}

.traitarea {
	-webkit-flex: 3;
	-ms-flex: 3;
	-webkit-flex-direction: column;
	flex: 3;
	padding: 20px;
	max-width: 720px;
	word-wrap: break-word;
	
	display: grid;
	grid-template-areas:
		"traitcolumn traitcolumn traitcolumn traitcolumn";
}

.trackarea {
	display: -webkit-flex;
	display: flex;
}

.resourcearea {
	-webkit-flex: 1;
	-ms-flex: 1;
	display: -webkit-flex;
	display: flex;
	flex: 1;
	padding: 20px;
	max-width: 720px;
	word-wrap: break-word;
}

.traitcolumn {
	padding: 00px;
	word-wrap: break-word;
	display: flex;
	flex-direction: column;
	position:relative;
}

.trackrow {
	padding: 10px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction:column;
}

.trackbutton, .minorharm, .lingeringharm,
.minorharmadd, .lingeringharmadd,
.minorharmdel, .lingeringharmdel {
	background: #fff;
	margin-top:10px;
	height:30px;
	width:30px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.minorharm::before,
.minorharm::after,
.lingeringharm::after,
.minorharmadd::before,
.minorharmadd::after,
.lingeringharmadd::after,
.minorharmdel::before,
.minorharmdel::after,
.lingeringharmdel::after {
	content: "";
	position: absolute;
	border: none;
}
.minorharm::before,
.minorharm::after,
.lingeringharm::after{
	background-color: black;
}

.minorharmadd::before,
.minorharmadd::after,
.lingeringharmadd::after{
	background-color: #777;
}

.minorharmdel::before,
.minorharmdel::after,
.lingeringharmdel::after{
	background-color: #bbb;
}


.minorharm::before,
.minorharm::after,
.minorharmadd::before,
.minorharmadd::after,
.minorharmdel::before,
.minorharmdel::after{
	width: 20px;
	height: 3px;
}


.minorharm::before,
.minorharmadd::before,
.minorharmdel::before {
    transform: rotate(45deg);  /* Rotate first line */
}

.minorharm::after,
.minorharmadd::after,
.minorharmdel::after {
    transform: rotate(-45deg); /* Rotate second line */
}


.lingeringharm::after,
.lingeringharmadd::after,
.lingeringharmdel::after {
	width: 80%;
	height: 80%;
}

.trackname{
	writing-mode: vertical-lr;
	font-weight:bold;
	-ms-transform: rotate(-30deg);
	-webkit-transform: rotate(-30deg);
	-moz-transform: rotate(-30deg);
	-o-transform: rotate(-30deg);
	-sand-transform: rotate(-30deg);
	transform: rotate(-30deg);	
	
	text-align: right;
	height:70px;
	width:30px;
	margin-bottom:15px;
}

.trait{
	position:relative;
	display: flex;
	flex-direction: column;
}

.traitname{
	font-size:clamp(7px,1.8vh,20px);/*1.8vh;*/
	position:absolute;
	text-align:center;
	top:50%;
	left:50%;
	font-weight:bold;
	transform:translate(-50%,-50%);
	z-index:1;
	text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
	
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	pointer-events: none;
}

.traiticonic{
	position:absolute;
	outline:5px solid black;
	margin:10px;
	z-index:1;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	pointer-events: none;
}


button{
	border:2px solid black;
	outline:2px solid black;
	z-index:0;
}

.traitbutton{
	background-color: #fff;
	font-family:Arial;
	/*min-height:50px;*/
	padding:0px;
	/*font-size:50px;*/
	font-size:clamp(35px,9vh,700px);
	font-weight:bold;
}

.traitbutton:hover{
	background-color:#ccc;
}
.traitbutton:active{
	background-color:#aaa;
}

/*this area applies only when the screen is narrow, e.g. on mobile*/
@media (max-width: 850px) {
	section {
		-webkit-flex-direction: column;
		flex-direction: column;
	}
	
	.trackarea {
		-webkit-flex-direction: column;
		flex-direction: column;
	}
	
	.resourcearea {
		-webkit-flex-direction: column;
		flex-direction: column;
	}
	
	.trackrow{
		-webkit-flex-direction: row;
		flex-direction:row;
	}
	.traitname{
		font-size:clamp(7px,1.2vh,14px);
	}
	.traitbutton{
		font-size:clamp(35px,6vh,70px);
	}
	.trackname{
		writing-mode: horizontal-tb;
		width:70px;
		height:0px;
		/*-ms-transform: translate(0%,30%) rotate(-30deg);
		-webkit-transform: translate(0%,30%) rotate(-30deg);
		-moz-transform: translate(0%,30%) rotate(-30deg);
		-o-transform: translate(0%,30%) rotate(-30deg);
		-sand-transform: translate(0%,30%) rotate(-30deg);*/
		transform: rotate(0deg);
		
		
		margin-right:15px;
		
	}
	
	.trackbutton, .minorharm, .lingeringharm,
	.minorharmadd, .lingeringharmadd,
	.minorharmdel, .lingeringharmdel{
		margin-top:0px;
		margin-left:10px;
	}

}